
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TheJoen Movie</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://kit.fontawesome.com/20962f3e4b.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/ticket.css}"/>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script th:src="@{/js/ticket.js}"></script>
    <script>
        $(document).ready(function(){
            $('.slider > ul').bxSlider({
                pager: false,
                easing: 'linear',
                auto: true, // 슬라이더 자동여부 

                autoHover: true // 마우스를 위에 올렸을 경우 애니메이션 정지 
            });
        });
		  
    </script>
		
    
</head>
<body>
    <div class="body-wrap">
		<th:block th:include="@{_header.html}"/>     
        <main>
            <section class="book-ticket">
                <div class="speed-ticket-title">
                    <h1>Speed Ticket</h1>
                </div>
                <div class="select select-movie">
                    <h1> << 영화 >> </h1>
                    <select class="cate" name="movie-cate">
                        
                        <option value="0">영화 선택</option>
                    </select>

                </div>
                <div class="select select-cinema">
                    <h1><< 영화관 >> </h1>
                    <select class="cate" name="cinema-cate">
                        <option value="0">영화관 선택</option>
                    </select>

                </div>
                
                <div class="select select-date">
                    <h1><< 날짜 >> </h1>
                    <select class="cate" name="date-cate">
                        <option value="0">날짜 선택</option>
                    </select>

                </div>
                <div class="select select-time">
                    <h1><< 시간 >> </h1>
                    <select class="cate" name="time-cate">
                        <option value="0">시간 선택</option>
                    </select>

                </div>
                <div class="select select-seat">
                    
                    <div class="screen-area">
                        <h1>Screen</h1>
                    </div>
                    <div class="check-seats">
                    	<table>
                     		<th:block th:each="num: ${#numbers.sequence(1, 13)}">
                     			<tr>
									<td>
										<p th:if="${num == 1}" class="A" th:value="A">A</p>
										<p th:if="${num == 2}" class="B" th:value="B">B</p>
										<p th:if="${num == 3}" class="C" th:value="C">C</p>
										<p th:if="${num == 4}" class="D" th:value="D">D</p>
										<p th:if="${num == 5}" class="E" th:value="E">E</p>
										<p th:if="${num == 6}" class="F" th:value="F">F</p>
										<p th:if="${num == 7}" class="G" th:value="G">G</p>
										<p th:if="${num == 8}" class="H" th:value="H">H</p>
										<p th:if="${num == 9}" class="I" th:value="I">I</p>
										<p th:if="${num == 10}" class="J" th:value="J">J</p>
										<p th:if="${num == 11}" class="K" th:value="K">K</p>
										<p th:if="${num == 12}" class="L" th:value="L">L</p>
										<p th:if="${num == 13}" class="M" th:value="M">M</p>
									</td>
									<th:block th:each="j: ${#numbers.sequence(1, 15)}">
										<th:block th:if="${num == 1}">
											<td  class="bookable"  th:with="seatInit='A'">
												<label th:for="|seat${(num-1)*15 + j}|">
													<input type="checkBox" onclick="getValue()"class="seat" th:name="|${seatInit}${j}|"
													th:id="|seat${(num-1)*15 + j}|" th:value="|${seatInit}${j}|">&nbsp;[[${j}]]&nbsp;
												</label>
											</td>
											<th:block th:if="${j == 4}">
												<td></td>
											</th:block>
											<th:block th:if="${j == 11}">
												<td></td>
											</th:block>
										</th:block>
										<th:block th:if="${num == 2}">
											<td  class="bookable"  th:with="seatInit='B'">
												<label th:for="|seat${(num-1)*15 + j}|">
													<input type="checkBox" onclick="getValue()" class="seat" th:name="|${seatInit}${j}|"
													
													th:id="|seat${(num-1)*15 + j}|" th:value="|${seatInit}${j}|">&nbsp;[[${j}]]&nbsp;
												</label>
											</td>
											<th:block th:if="${j == 4}">
												<td></td>
											</th:block>
											<th:block th:if="${j == 11}">
												<td></td>
											</th:block>
										</th:block>
										<th:block th:if="${num == 3}">
											<td  class="bookable"  th:with="seatInit='C'">
												<label th:for="|seat${(num-1)*15 + j}|">
													<input type="checkBox" onclick="getValue()" class="seat" th:name="|${seatInit}${j}|"
													
													th:id="|seat${(num-1)*15 + j}|" th:value="|${seatInit}${j}|">&nbsp;[[${j}]]&nbsp;
												</label>
											</td>
											<th:block th:if="${j == 4}">
												<td></td>
											</th:block>
											<th:block th:if="${j == 11}">
												<td></td>
											</th:block>
										</th:block>
										<th:block th:if="${num == 4}">
											<td  class="bookable"  th:with="seatInit='D'">
												<label th:for="|seat${(num-1)*15 + j}|">
													<input type="checkBox" onclick="getValue()" class="seat" th:name="|${seatInit}${j}|"
													
													th:id="|seat${(num-1)*15 + j}|" th:value="|${seatInit}${j}|">&nbsp;[[${j}]]&nbsp;
												</label>
											</td>
											<th:block th:if="${j == 4}">
												<td></td>
											</th:block>
											<th:block th:if="${j == 11}">
												<td></td>
											</th:block>
										</th:block>
										<th:block th:if="${num == 5}">
											<td  class="bookable"  th:with="seatInit='E'">
												<label th:for="|seat${(num-1)*15 + j}|">
													<input type="checkBox" onclick="getValue()" class="seat" th:name="|${seatInit}${j}|"
													
													th:id="|seat${(num-1)*15 + j}|" th:value="|${seatInit}${j}|">&nbsp;[[${j}]]&nbsp;
												</label>
											</td>
											<th:block th:if="${j == 4}">
												<td></td>
											</th:block>
											<th:block th:if="${j == 11}">
												<td></td>
											</th:block>
										</th:block>
										<th:block th:if="${num == 6}">
											<td  class="bookable"  th:with="seatInit='F'">
												<label th:for="|seat${(num-1)*15 + j}|">
													<input type="checkBox" onclick="getValue()" class="seat" th:name="|${seatInit}${j}|"
													
													th:id="|seat${(num-1)*15 + j}|" th:value="|${seatInit}${j}|">&nbsp;[[${j}]]&nbsp;
												</label>
											</td>
											<th:block th:if="${j == 4}">
												<td></td>
											</th:block>
											<th:block th:if="${j == 11}">
												<td></td>
											</th:block>
										</th:block>
										<th:block th:if="${num == 7}">
											<td  class="bookable"  th:with="seatInit='G'">
												<label th:for="|seat${(num-1)*15 + j}|">
													<input type="checkBox" onclick="getValue()" class="seat" th:name="|${seatInit}${j}|"
													
													th:id="|seat${(num-1)*15 + j}|" th:value="|${seatInit}${j}|">&nbsp;[[${j}]]&nbsp;
												</label>
											</td>
											<th:block th:if="${j == 4}">
												<td></td>
											</th:block>
											<th:block th:if="${j == 11}">
												<td></td>
											</th:block>
										</th:block>
										<th:block th:if="${num == 8}">
											<td  class="bookable"  th:with="seatInit='H'">
												<label th:for="|seat${(num-1)*15 + j}|">
													<input type="checkBox" onclick="getValue()" class="seat" th:name="|${seatInit}${j}|"
													
													th:id="|seat${(num-1)*15 + j}|" th:value="|${seatInit}${j}|">&nbsp;[[${j}]]&nbsp;
												</label>
											</td>
											<th:block th:if="${j == 4}">
												<td></td>
											</th:block>
											<th:block th:if="${j == 11}">
												<td></td>
											</th:block>
										</th:block>
										<th:block th:if="${num == 9}">
											<td  class="bookable"  th:with="seatInit='I'">
												<label th:for="|seat${(num-1)*15 + j}|">
													<input type="checkBox" onclick="getValue()" class="seat" th:name="|${seatInit}${j}|"
													
													th:id="|seat${(num-1)*15 + j}|" th:value="|${seatInit}${j}|">&nbsp;[[${j}]]&nbsp;
												</label>
											</td>
											<th:block th:if="${j == 4}">
												<td></td>
											</th:block>
											<th:block th:if="${j == 11}">
												<td></td>
											</th:block>
										</th:block>
										<th:block th:if="${num == 10}">
											<td  class="bookable"  th:with="seatInit='J'">
												<label th:for="|seat${(num-1)*15 + j}|">
													<input type="checkBox" onclick="getValue()" class="seat" th:name="|${seatInit}${j}|"
													
													th:id="|seat${(num-1)*15 + j}|" th:value="|${seatInit}${j}|">&nbsp;[[${j}]]&nbsp;
												</label>
											</td>
											<th:block th:if="${j == 4}">
												<td></td>
											</th:block>
											<th:block th:if="${j == 11}">
												<td></td>
											</th:block>
										</th:block>
										<th:block th:if="${num == 11}">
											<td  class="bookable"  th:with="seatInit='K'">
												<label th:for="|seat${(num-1)*15 + j}|">
													<input type="checkBox" onclick="getValue()" class="seat" th:name="|${seatInit}${j}|"
													
													th:id="|seat${(num-1)*15 + j}|" th:value="|${seatInit}${j}|">&nbsp;[[${j}]]&nbsp;
												</label>
											</td>
											<th:block th:if="${j == 4}">
												<td></td>
											</th:block>
											<th:block th:if="${j == 11}">
												<td></td>
											</th:block>
										</th:block>
										<th:block th:if="${num == 12}">
											<td  class="bookable"  th:with="seatInit='L'">
												<label th:for="|seat${(num-1)*15 + j}|">
													<input type="checkBox" onclick="getValue()" class="seat" th:name="|${seatInit}${j}|"
													
													th:id="|seat${(num-1)*15 + j}|" th:value="|${seatInit}${j}|">&nbsp;[[${j}]]&nbsp;
												</label>
											</td>
											<th:block th:if="${j == 4}">
												<td></td>
											</th:block>
											<th:block th:if="${j == 11}">
												<td></td>
											</th:block>
										</th:block>
										<th:block th:if="${num == 13}">
											<td  class="bookable"  th:with="seatInit='M'">
												<label th:for="|seat${(num-1)*15 + j}|">
													<input type="checkBox" onclick="getValue()" class="seat" th:name="|${seatInit}${j}|"
													
													th:id="|seat${(num-1)*15 + j}|" th:value="|${seatInit}${j}|">[[${j}]]
												</label>
											</td>
											<th:block th:if="${j == 4}">
												<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
												
												
											</th:block>
											<th:block th:if="${j == 11}">
												<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
											</th:block>
										</th:block>
									</th:block>
								</tr>
                     	</th:block>
                    </div>
                </div>
            </section>
            
            
            
            <div class="final-pay">
                <h1 style="font-size: 40px;"> 예매내역 </h1>
                
                <div class="final-cate final-movie">
                    <span class="title movie-title"style="font-size: 20px;"> 영화 </span>
                    <span class="value movie-value"style="font-size: 20px;">영화를 선택해주세요.</span>

                </div>
                
                <div class="final-cate final-cinema">
                    <span class="title cinema-title" style="font-size: 20px;"> 영화관 </span>
                    <span class="value cinema-value" style="font-size: 20px;">영화관을 선택해주세요.</span>

                </div>
                
                <div class="final-cate final-date">
                    <span class="title date-title" style="font-size: 20px;"> 날짜 </span>
                    <span class="value date-value" style="font-size: 20px;">날짜를 선택해주세요.</span>

                </div>
                <div class="final-cate final-time">
                    <span class="title time-title" style="font-size: 20px;"> 시간 </span>
                    <span class="value time-value" style="font-size: 20px;">시간을 선택해주세요.</span>

                </div>
                
                <div class="final-cate final-seats">
                    <span class="title seat-title" style="font-size: 20px;"> 좌석 </span>
                    <span id="final-seat" class="value seat-value" style="font-size: 20px;">좌석을 선택해주세요.</span>

                </div>
                <div class="final-cate final-total">
                    <span class="title price-title" style="font-size: 20px;"> 가격 </span>
                    <span id="final-price" class="value price-value" style="font-size: 20px;">0원</span>
                </div>
                
                <div class="book-ticket">
                        <button type="button" class="btn btn-danger">예매하기</button>
                </div>
            </div>
        </main>
    </div>
</body>
</html>